<div class="mt-5 p-3">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Поиск товаров</mat-label>
    <input
      #searchKeyWord
      (keyup)="searchByKeyWord(searchKeyWord.value)"
      matInput
      placeholder="Введите название или описание товаров"
      name="searchKey"
      id="searchKey"
    />
    <mat-hint></mat-hint>
  </mat-form-field>
  <div *ngIf="showTable">
    <table mat-table [dataSource]="productDetails" class="mat-elevation-z8">
      <ng-container matColumnDef="Артикул">
        <th mat-header-cell *matHeaderCellDef>Артикул</th>
        <td mat-cell *matCellDef="let element">{{ element.productId }}</td>
      </ng-container>

      <ng-container matColumnDef="Название">
        <th mat-header-cell *matHeaderCellDef>Название</th>
        <td mat-cell *matCellDef="let element">{{ element.productName }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Описание</th>
        <td mat-cell *matCellDef="let element">
          {{ element.productDescription }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Цена без скидки">
        <th mat-header-cell *matHeaderCellDef>Цена без скидки</th>
        <td mat-cell *matCellDef="let element">
          {{ element.productActualPrice }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Цена со скидкой">
        <th mat-header-cell *matHeaderCellDef>Цена со скидкой</th>
        <td mat-cell *matCellDef="let element">
          {{ element.productDiscountedPrice }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Действия">
        <th mat-header-cell *matHeaderCellDef>Действия</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="showImages(element)">
            <mat-icon>images</mat-icon>
          </button>
          <button
            mat-icon-button
            color="primary"
            (click)="editProductDetails(element.productId)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="deleteProduct(element.productId)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div class="text-center p-5" *ngIf="showLoadMoreProductButton">
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="loadMoreProduct()"
    >
      Показать больше
    </button>
  </div>
  <div align="end" style="margin-top: -84px" *ngIf="showLoadMoreProductButton">
    <button
      type="button"
      mat-raised-button
      color="warn"
      (click)="showAllProducts()"
    >
      Показать всё (НЕ РЕКОМЕНДУЕТСЯ)
    </button>
  </div>
</div>
